@font-face {
    font-family: 'PoppinsRegular';
    src: url('../src/fonts/PoppinsRegular.eot');
    src: url('../src/fonts/PoppinsRegular.eot') format('embedded-opentype'), url('../src/fonts/PoppinsRegular.woff2') format('woff2'), url('../src/fonts/PoppinsRegular.woff') format('woff'), url('../src/fonts/PoppinsRegular.ttf') format('truetype'), url('../src/fonts/PoppinsRegular.svg#PoppinsRegular') format('svg');
}

@font-face {
    font-family: 'PoppinsSemiBold';
    src: url('../src/fonts/PoppinsSemiBold.eot');
    src: url('../src/fonts/PoppinsSemiBold.eot') format('embedded-opentype'), url('../src/fonts/PoppinsSemiBold.woff2') format('woff2'), url('../src/fonts/PoppinsSemiBold.woff') format('woff'), url('../src/fonts/PoppinsSemiBold.ttf') format('truetype'), url('../src/fonts/PoppinsSemiBold.svg#PoppinsSemiBold') format('svg');
}

@font-face {
    font-family: 'PoppinsBold';
    src: url('../src/fonts/PoppinsBold.eot');
    src: url('../src/fonts/PoppinsBold.eot') format('embedded-opentype'), url('../src/fonts/PoppinsBold.woff2') format('woff2'), url('../src/fonts/PoppinsBold.woff') format('woff'), url('../src/fonts/PoppinsBold.ttf') format('truetype'), url('../src/fonts/PoppinsBold.svg#PoppinsBold') format('svg');
}

@font-face {
    font-family: 'PoppinsMedium';
    src: url('../src/fonts/PoppinsMedium.eot');
    src: url('../src/fonts/PoppinsMedium.eot') format('embedded-opentype'), url('../src/fonts/PoppinsMedium.woff2') format('woff2'), url('../src/fonts/PoppinsMedium.woff') format('woff'), url('../src/fonts/PoppinsMedium.ttf') format('truetype'), url('../src/fonts/PoppinsMedium.svg#PoppinsMedium') format('svg');
}

@font-face {
    font-family: 'OpenSans';
    src: url('../src/fonts/OpenSans-Regular.ttf');
}